body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  width: 100%;
}
.background-main {
  background-color: #e7e7e7;
}
main {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}
#girl {
  width: 80%;
}
main h1 {
  color: #1a2e35;
  font-weight: 800;
  font-size: 38px;
  margin-top: 40px;
}
main p {
  margin-top: 10px;

  color: #000000;
  font-size: 24.5px;
  font-weight: 400;
}
main legend {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.input-wrapper input {
  max-width: 535px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 0 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: black;
}

.button {
  width: 396px;
  height: 60px;
  background-color: #ff4f5a;
  border-radius: 15px;
  margin-top: 36px;
  font-size: 26px;
  font-weight: 800;
  color: white;
}

input:invalid {
  border: 2px solid red;
}



.about-me {
  max-width: 1440px;
  width: 100%;
  height: 90vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
.about-me h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  color: #1a2e35;
}
.about-me p {
  display: flex;
  justify-content: center;
  line-height: 30px;
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
}

.about-me .coln-3 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
.about-me .coln-3 img{
    width: 28%;
}
.about-me button {
  width: 396px;
  height: 60px;
  background-color: #ff4f5a;
  border-radius: 15px;
  margin: 84px auto;
  font-size: 26px;
  font-weight: 800;
  color: white;
}

.invite {
  background: #ff4f5a;
}
.invite .container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contenct {
  max-width: 641px;
}
.container img{
    width: 35%;
}
.container h2 {
  font-size: 35px;
  font-weight: 800;
  color: #ffffff;
}

.container p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 43px;
  color: white;
}


.invite button {
  width:420px;
  height: 60px;
  background-color: #1e1e1e;
  border-radius: 15px;

  margin: 30px auto;
  font-size: 26px;
  font-weight: 800;

  color: white;
}
